

.reviewPage{
    /* background-color: #ebfff9; */
    background: #d5e0d5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}


.reviewPageContent, .reviewRight{
    margin-top: 30px;
}
.reviewRight{
    margin-right: 60px;
    width: 500px;
 
    
}
.reviewCard{
    margin-top: 20px;
    margin-bottom: 30px;
}

.reviewsContainer{
    margin-left: 60px;
    /* background-color: #f2fff57e; */
    background-color: #ebf5eee5;
    width: 650px;
    height: 100%;
    margin-bottom: 100px;
   
}
.reviewsContainer h1{
    border-bottom: 3px solid rgb(0, 0, 0);

}
.reviewUser{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: -10px;  
    
}
.userIcon{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
}

.usernameContent{
    /* font-size: x-large */
    margin-left: 10px;
    margin-top: -10px;
}

.reviewBubble{
	position: relative;
	max-width: 50em;
	background-color: #fff;
	/* padding: 1.125em 1.5em; */
    margin-right: 20px;
    margin-left: 20px;
	font-size: 1.25em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    

}


.reviewBubble::before{
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-top: none;
    border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.bubbleContent{
    margin-left: 40px;
    margin-right: 40px;
}
.reviewPic{
    height: 300px;
    width: 400px;
}

.bubble
{
   position: relative;
   width: 250px;
   height: 120px;
   padding: 0px;
   background: #CF5858;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px;
    border-color: #CF5858 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -20px;
    left: 19px;
}

.datePost{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 20px;
}
.datePost p{
    font-size: medium;
}
.reviewEditBtn {
    margin-right: 30px;
    height: 25px;
    width: 50px;
    border-color:  rgb(118, 131, 139);;
    background-color: rgb(160, 181, 194);
    cursor: pointer;
    
}

.reviewEditBtn:hover{
    border-top: 2px solid rgba(161, 200, 207, 0.808);
    border-bottom: 2px solid rgba(161, 200, 207, 0.808);
    font-weight: bold;

}

.reviewTextBox{
    /* border: 1px solid rgb(206, 206, 206); */
    margin-bottom: 10px;
    /* height: 130px; */
    margin-bottom: 5px;
}

.reviewTextBox p {
    margin-top: -1px;
    margin-right: 3px;
    margin-left: 5px;
    overflow: auto;

}

.ratingReview{
    margin-top: -7px
}

.usernameContent h3{
    font-weight: bold;
}

